<div style="height: 109px; background-color: #181818;">
    <div style="float: left">
        <div style="margin-left: 100px; margin-top: 18px;">
            <a href="#/"><img ng-src="imageshomepage/logo fra photo.png" width="125"></a>
        </div>
    </div>

    <div class="text" style="margin-top: 22px; margin-left: 50px; float: left; font-weight: 400">Leaving from</div>
    <div class="text" style="margin-top: 22px; margin-left: 163px; float: left; font-weight: 400">Going to</div>
    <div class="text" style="margin-top: 22px; margin-left: 187px; float: left; font-weight: 400">Depart</div>
    <div class="text" style="margin-top: 22px; margin-left: 162px; float: left;  width: 250px; font-weight: 400">Number of Tickets</div>

    <div style="margin-left: 50px; margin-top: 10px; float: left">
        <input class="inputfield" style="width: 190px; background-repeat: no-repeat; 
               background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
               font-weight: 300" type="text" placeholder="Airport name" ng-model="departAirport" list="departAirport">
        <datalist id="departAirport">
            <option ng-repeat="IATA in iataCodes.response" value="{{IATA.code}}">
        </datalist>

        <input class="inputfield" style="margin-left: 26px; width: 190px; background-repeat: no-repeat; 
               background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
               font-weight: 300" type="text" placeholder="Airport name" ng-model="arrivalAirport">
        <input class="inputfield" style="margin-left: 26px; width: 163px; background-repeat: no-repeat; 
               background-position: 90% 50%; background-image: url(imageshomepage/dateicon.png); 
               font-weight: 300" type="text" placeholder="Select date" ng-model="date">
        <input class="inputfield" style="margin-left: 20px; width: 100px; font-weight: 300" 
               type="number" placeholder="Select number" ng-model="tickets">
        <a href="#search"><input class="orangeButton" style="margin-left: 24px;" type="submit" value="SEARCH" ng-click="addFlightInputs(departAirport, arrivalAirport, date, tickets); getFlights()" ></a>

    </div>
</div>
<div style="height: auto; padding-bottom: 50px; width: 100%; background-color: #FFFFFF; margin-left: auto; margin-right: auto; margin-top: 20px">


    <div class="divindiv" style="background-color: white;" >
        <div style="float: left; margin-left: 102px; margin-top: 35px; background-color: #F8F8F8; padding-bottom: 35px; padding-right: 20px;">
            <div style="font-family: 'Lato', sans-serif; margin-left: 25px; margin-right: 25px; padding-top: 25px; padding-bottom: 30px; border-bottom: 1px dotted; border-bottom-color: #898787; font-weight: 900; color: #E80000; text-transform: uppercase;">
                Reservee info
            </div>

            <div class="textLato" style="color: #474747; font-family: 'Lato', sans-serif; margin-top: 40px; margin-left: 25px; font-size: 12px;">
                <div style="float:left; height:31px; padding-top: 7px;">First name </div><div style="padding-left: 20px; float: left;"><input class='inputfieldPass' style="height: 25px; width: 200px;" type="text" ng-model="firstName"></div>
                <div style="margin-left: 30px; float:left; height:31px; padding-top: 7px;">Last name </div><div style="padding-left: 20px; float: left;"><input class='inputfieldPass' style="height: 25px; width: 200px;" type="text" ng-model="lastName"></div>
            </div>
            <div class="textLato" style="color: #474747; font-family: 'Lato', sans-serif; margin-top: 100px; margin-left: 25px; font-size: 12px;">
                <div style="float:left; height:31px; padding-top: 7px;">Email </div><div style="padding-left: 47px; float: left;"><input class='inputfieldPass' style="height: 25px; width: 200px;" type="text" ng-model="email"></div>
                <div style="margin-left: 30px; float:left; height:31px; padding-top: 7px;">Phone </div><div style="padding-left: 40px; float: left;"><input class='inputfieldPass' style="height: 25px; width: 200px;" type="text" ng-model="phone"></div>
            </div>
            <div class="textLato" style="font-family: 'Lato', sans-serif; margin-left: 25px; margin-right: 25px; padding-top: 80px; padding-bottom: 30px; border-bottom: 1px dotted; border-bottom-color: #898787; font-weight: 900; color: #E80000; text-transform: uppercase;">
                Passenger details
            </div>
            <div>
                <div style="float: left; padding-top: 20px; padding-left:75px; color: #474747; font-family: 'Lato', sans-serif; font-size: 12px;">First name</div><div style="float: left; padding-top: 20px; padding-left:200px; color: #474747; font-family: 'Lato', sans-serif; font-size: 12px;">Last name</div>
            </div>
            <div style="padding-top: 45px; font-family: 'Lato', sans-serif; padding-bottom: 35px;">
                <div id="body-content" style="float: left; margin-left: 25px; width: 35px; padding: 7px; font-weight: 500;">{{1}}</div><div style="float: left;"><input style="width: 230px; height: 25px;" type="text"></div><div style="float:left; padding-left: 20px;"><input style="width: 230px; height: 25px;" type="text"></div>  
            </div>
            <div style="margin-left: 460px; padding-top: 20px;">
                <a href="#confirm"><input class="orangeButton" type="submit" value="SAVE" ng-click="addReserveInformation(firstName, lastName, email, phone)"></a></div>
        </div>

        <div style="float: left; margin-left: 20px; margin-top: 35px;">

            <div style="font-family: 'Lato', sans-serif; margin-right: 25px; padding-top: 25px; font-weight: 900; color: #E80000; text-transform: uppercase;">
                Flight info
            </div>

            <table style="padding-top: 10px; background-color: white; border-color: white;">
                <tr class="textForm">
                    <td style="width: 200px; border-top-color: white;">flight no</td>
                    <td style="font-weight: bold; border-top-color: white;">{{flightInfo.flightID}}</td>
                </tr>
                <tr class="textForm">
                    <td style="border-top-color: white;">origin</td>
                    <td style="font-weight: bold;border-top-color: white;">{{flightInfo.origin}}</td>
                </tr>
                <tr class="textForm">
                    <td style="border-top-color: white;">destination</td>
                    <td style="font-weight: bold; border-top-color: white;">{{flightInfo.destination}}</td>
                </tr>
                <tr class="textForm">
                    <td style="border-top-color: white;">date</td>
                    <td style="font-weight: bold; border-top-color: white;">{{flightInfo.date}}</td>
                </tr>
                <tr class="textForm">
                    <td style="border-top-color: white;">flight time</td>
                    <td style="font-weight: bold; border-top-color: white;">{{flightInfo.traveltime}} Minutes</td>
                </tr>
                <tr class="textForm">
                    <td style="border-top-color: white;" >number of seats</td>
                    <td style="font-weight: bold; border-top-color: white;">{{flightInfo.numberOfSeats}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
