<!DOCTYPE html>
<html ng-app="routingModule">
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular-route.js"></script>
        <script src="javascript.js" type="text/javascript"></script>
        <script src="routing.js" type="text/javascript"></script>
        <link href="passengerview/passengerstyle.css" rel="stylesheet" type="text/css"/>
        <link href="searchview/stylesheet.css" rel="stylesheet" type="text/css"/>
        <link href="stylesheet.css" rel="stylesheet" type="text/css"/>
        <link href='https://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i" rel="stylesheet">
        <link href="searchview/stylesheet.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,100,400,900,500" rel="stylesheet">
        
    </head>
    <body ng-controller="searchBarCntr">
        <div ng-controller="searchCntr" ng-hide="currentPath === '/'"  style="height: 109px; background-color: #181818;">
        <div style="float: left">
            <div style="margin-left: 100px; margin-top: 18px;">
                <a href="#/"><img src="imageshomepage/logo fra photo.png" width="125"></a>
            </div>
        </div>

        <div class="text" style="margin-top: 22px; margin-left: 50px; float: left; font-weight: 400">Leaving from</div>
        <div class="text" style="margin-top: 22px; margin-left: 163px; float: left; font-weight: 400">Going to</div>
        <div class="text" style="margin-top: 22px; margin-left: 187px; float: left; font-weight: 400">Depart</div>
        <div class="text" style="margin-top: 22px; margin-left: 162px; float: left;  width: 250px; font-weight: 400">Number of Tickets</div>

        <div style="margin-left: 50px; margin-top: 10px; float: left">
            <input class="inputfield" style="width: 190px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
                   font-weight: 300" type="text" placeholder="Airport name" ng-model="departAirport" list="departAirport">
            <datalist id="departAirport">
                <option ng-repeat="IATA in iataCodes.response" value="{{IATA.code}}">
            </datalist>
            
            <input class="inputfield" style="margin-left: 26px; width: 190px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
                   font-weight: 300" type="text" placeholder="Airport name" ng-model="arrivalAirport">
            <input class="inputfield" style="margin-left: 26px; width: 163px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/dateicon.png); 
                   font-weight: 300" type="text" placeholder="Select date" ng-model="date">
            <input class="inputfield" style="margin-left: 20px; width: 100px; font-weight: 300" 
                   type="number" placeholder="Select number" ng-model="tickets">
                        <input class="orangeButton" style="margin-left: 24px;" type="submit" value="SEARCH" ng-click="getFlights()" >

        </div>
    </div>
       
        <div ng-view="">

        </div>
        
        <div class="section4">

        </div>
        <div class="subfooter" style="margin-top: 0px;">
            <img src="imageshomepage/subfooter.png" height="500">
        </div>
        <div class="footer">
            <div>
                <ul class="nav">
                    <li>HOME</li>
                    <li>ABOUT US</li>
                    <li>POPULAR DESTINATION</li>
                    <li>MY RESERVATION</li>
                    <li style="padding-right: 0px; margin-right: 0px;">CONTACT US</li>
                </ul>
            </div>
            <div class="text" style="margin-left: 83px; padding-top: 67px; width: 175px; float:left;">
                © Designed by <div style="color: #FF7E00; float: right;">Adventure Flights</div>
            </div>
            <div class="text" style="float: left; margin-left: 700px; font-size: 10px;" >
                Designed & Developed by eClick Softwares & Solutions Pvt. Ltd.
            </div>
        </div>
    </body>
</html>
