<div style="background-color: #F7F7F7">

    <div style="height: 109px; background-color: #181818;">
        <div style="float: left">
            <div style="margin-left: 100px; margin-top: 18px;">
                <a href="#/"><img ng-src="imageshomepage/logo fra photo.png" width="125"></a>
            </div>
        </div>

        <div class="text" style="margin-top: 22px; margin-left: 50px; float: left; font-weight: 400">Leaving from</div>
        <div class="text" style="margin-top: 22px; margin-left: 163px; float: left; font-weight: 400">Going to</div>
        <div class="text" style="margin-top: 22px; margin-left: 187px; float: left; font-weight: 400">Depart</div>
        <div class="text" style="margin-top: 22px; margin-left: 162px; float: left;  width: 250px; font-weight: 400">Number of Tickets</div>

        <div style="margin-left: 50px; margin-top: 10px; float: left">
            <input class="inputfield" style="width: 190px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
                   font-weight: 300" type="text" placeholder="Airport name" ng-model="departAirport" list="departAirport">
            <datalist id="departAirport">
                <option ng-repeat="IATA in iataCodes.response" value="{{IATA.code}}">
            </datalist>

            <input class="inputfield" style="margin-left: 26px; width: 190px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/locationicon.png); 
                   font-weight: 300" type="text" placeholder="Airport name" ng-model="arrivalAirport">
            <input class="inputfield" style="margin-left: 26px; width: 163px; background-repeat: no-repeat; 
                   background-position: 90% 50%; background-image: url(imageshomepage/dateicon.png); 
                   font-weight: 300" type="text" placeholder="Select date" ng-model="date">
            <input class="inputfield" style="margin-left: 20px; width: 100px; font-weight: 300" 
                   type="number" placeholder="Select number" ng-model="tickets">
            <input class="orangeButton" style="margin-left: 24px;" type="submit" value="SEARCH" ng-click="addInputs(departAirport, arrivalAirport, date, tickets); getFlights()" >

        </div>
    </div>



    <div class="text" style="float: left; color: #181818; margin-top: 20px; font-weight: 400; margin-left: 102px;">
        Found .. flights
    </div>
    <div class="text" style="color: #181818; margin-top: 20px; font-weight: 400; margin-right: 102px; float: right;">
        Sort by: <select style="width: 140px;">

        </select>
    </div>


    <div  style="background-color: #E80000; margin-top: 70px; margin-left:102px; margin-right: 102px; height: 60px;">
        <div class="textSearch" style="padding-top: 20px;"> {{departAirport}} - {{arrivalAirport}} | {{date}} | {{tickets}} </div>
    </div>
    <div style="padding-bottom: 50px;">
        <table cellspacing="0" cellpadding="0" style="margin-left: 102px; margin-top: 20px;">

            <tr>
                <th>Airline</th>
                <th>Date</th>
                <th>IATA Code</th>
                <th>Depart</th>
                <th>Duration</th>
                <th>Arrive</th>
                <th>IATA Code</th>
                <th>Price</th>
                <th></th>
            </tr>

            <tr ng-repeat="info in airlineInfo.flights" style="background-color: white;">
                <td>{{airlineInfo.airline}}</td>
                <td>{{info.date| date}}</td>
                <td>{{info.origin}}</td>
                <td>{{info.date| date:'HH:mm':'UTC+0'}}</td>
                <td>{{info.traveltime| durationFilter}}</td>
                <td>{{info.date| date:'HH:mm':'UTC+0' | arivalFilter:info.traveltime}}</td>
                <td>{{info.destination}}</td>
                <td style="color: #E80000; font-size: 14px;">{{info.totalPrice| currency : "DKK"}}</td>
                <td style="padding-left: 20px; padding-right: 20px;"><a href="#reserve"><button class="orangeButton" style="padding-left: 20px; padding-right: 20px;">RESERVATION</button></a></td>
            </tr>


        </table>
    </div>
</div>